@import url('https://fonts.googleapis.com/css?family=Impact|PT+Serif');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  position: relative;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main header {
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.5rem;
}

.main section {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.main section div {
  font-family: PT Serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #ccc;
  height: 200px;
  width: 350px;
  border: 1px solid black;
  color: #000;
  border-radius: 20px;
}

.main section div p {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.main section div h1 {
  font-size: 2rem;
}

.fas {
  font-size: 2rem;
  margin: 1rem;
}

footer {
  margin-top: 0.5rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 0.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 1075px) {
  .main header {
    margin-top: 0;
  }

  .main section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .main section div {
    height: 150px;
  }
}

@media (max-width: 725px) {
  .main {
    height: 100%;
  }

  .main header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .main header h2 {
    font-size: 4rem;
  }

  .main section {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .main section div {
    width: 80%;
    height: 200px;
  }
}
